<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body {

        }
        header {
            padding: 10px;
            background: aliceblue;
        }
        main {
            padding: 10px;
            background: gray;
        }
        footer {
            padding: 10px;
            background: lightslategrey;
        }
    </style>
</head>
<body>
<header>
    <h2>Test email</h2>
</header>
<main>
    <p>Here is some content</p>
    <p>Some more</p>
</main>
<footer>
    <div>
        <p>All rights reserved.</p>
        <p>by Johannes Scribante</p>
    </div>
</footer>
</body>
</html>